{% extends 'base.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<div class="container">
    <h1>My Breed Reviews:</h1>
    <br><br>
    {% for i in reviews %}
    <div class="key">
        <b>Key:</b>  0 = Never/Least - 3 = Sometimes/Some - 5 = Always/Most
    </div>
    <br><br>
    <h4>{{ i['breed_name'] }}</h4>
    <br><br>
    <b>Maintenance Rating:</b>{{ i['maintenance_rating'] }}
    <br><br>
    <b>Behavior Rating:</b>{{ i['reviews.behavior_rating'] }}
    <br><br>
    <b>trainability_rating:</b>{{ i['trainability_rating'] }}
    <br><br>
    <b>Comments:</b>{{ i['comments'] }}    
    <br><br>
    <hr>
    {% endfor %}
</div>


{% endblock %}