{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<!-- <i class="fa-solid fa-people-roof"></i> Family icon-->
<!-- <i class="fa-solid fa-dog"></i> Dog icon
<!-- <i class="fa-solid fa-cat"></i> <!-- Cat icon-->
<!-- <i class="fa-solid fa-star"></i> Star icon -->

<h2>{{ user.username }}</h2>
<p> 
    <img src='{{ user.profile_photo }}'>
    <br>
    Email: {{ user.email }}
    <br>
    Adults in household: {{ user.family_members_adults }}
    <br>
    Children in household: {{ user.family_members_children }}
    <br>
    Other pets in household: {{ user.other_pets }}
    <br>
    Home environment: {{ user.environment }}
    <br>
    Experience with dogs: {{ user.experience_level }}
</p>
<a href="/user/edit"><button class="btn btn-secondary" type="submit">Edit Profile</button></a> 

<form>

    
</form>

{% endblock %}